
       #enAzul{background-color: lightblue;
        text-align: center;
        width: 100%;

       } 
       h1{     width: 65%;

       }
.clase1{
      width: 60%;
       
 }
#enVerde{
    background-color: lightgreen;}
.textoNaranja{ color: orange;

}
.resaltoTexto{
    color: red;
}