 h1{ color: blueviolet solid; background-color: rgb(233, 166, 166);}
        p{ color: rgb(112, 216, 114) solid; background-color: rgb(227, 96, 197);}
h2{ color: black solid; background-color: darkmagenta;

}